.allOffers {
    background: linear-gradient(180deg, rgba(99, 99, 99, 1) 0%, rgba(228, 230, 230, 1) 100%);
    min-height: 100vh;
}
.offer-container {
    border: 1px solid #eb800e;
    height: 200px;
    display: flex;
    margin: 20px;
    box-sizing: border-box;
}
.offer-container .img {
    width: 200px;
}
.sub-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
    box-sizing: border-box;
    width: 100%;
}
.pt1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 20px;
}
.pt1 h1 {
    color: #eb800e;
}
.offer-container img {
    width: 190px;
    height: 190px;
    margin: 5px;
}
.pt2 {
    display: flex;
    justify-content: space-between;
    background-color: gainsboro;
    margin-left: 20px;
    padding: 0 5px;
}
