.offer-card-pt1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}
.company-image {
    border: 1px solid goldenrod;
    padding: 5px 5px 0 5px;
}
.low-part {
    display: flex;
    justify-content: space-around;
}
